 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 647px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: -107px;
  margin-left: auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 527px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 93px 111px 0 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 39px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 32px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 562px;
}

.u-section-1 .u-container-layout-2 {
  padding: 5px 30px;
}

.u-section-1 .u-image-1 {
  width: 479px;
  height: 479px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 19px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  margin: -62px 46px 0 74px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -84px;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 435px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 11px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 463px;
  }

  .u-section-1 .u-image-1 {
    width: 410px;
    height: 410px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 7px;
    margin-right: 0;
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -49px;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 333px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 960px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 2px;
    margin-bottom: 58px;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 500px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 378px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1031px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 46px;
  margin-bottom: 28px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 975px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 470px;
  height: 470px;
  background-image: url("images/9937218_43608977.jpg");
  background-position: 50% 0%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -81px 57px 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: -10px 148px 0 726px;
}

.u-section-2 .u-image-2 {
  width: 394px;
  height: 394px;
  background-image: url("images/9937218_4308977.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -470px auto 0 63px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: -10px 737px 0 118px;
}

.u-section-2 .u-image-3 {
  width: 429px;
  height: 429px;
  background-image: url("images/9937218_430998977.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 29px auto 0 46px;
}

.u-section-2 .u-image-4 {
  width: 392px;
  height: 392px;
  background-image: url("images/993337218_4308977.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -392px 81px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  margin: 0 665px 0 107px;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  margin: -48px 148px 0 726px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 896px;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 804px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 48px;
    margin-left: 626px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 637px;
    margin-left: 18px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 565px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 48px;
    margin-left: 626px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 277px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 454px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 435px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 352px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 454px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 274px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 255px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 172px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 274px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: 74px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: -340px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 44px;
    margin-right: 55px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    width: 340px;
    height: 340px;
    margin-top: -303px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 74px;
  }
}